@model IEnumerable<Portal.Models.UnsettledBetAndRiskViewModel>
           

<h2>Unsettled bets & their risks</h2>
<table class="table" id="statistics">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Event</th>
            <th>Participant</th>
            <th>Stake</th>
            <th>To win</th>
            <th>High prize</th>
            <th>High stake</th>
            <th>Unusually high stake</th>
            <th>Unusually high win rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">@item.Customer</td>
                <td class="col-md-1">@item.Event</td>
                <td class="col-md-1">@item.Participant</td>
                <td class="col-md-2">@item.Stake</td>
                <td class="col-md-1">@item.ToWin$</td>
                <td class="col-md-1">@item.IsHighPrize</td>
                <td class="col-md-1">@item.IsHighStake</td>
                <td class="col-md-2">@item.IsUnusuallyHighStake</td>
                <td class="col-md-2">@item.HasUnusualWinRate</td>
            </tr>
        }
    </tbody>
</table>

<div id="settledBets">

</div>


@section scripts
{
    <script src="~/Scripts/Custom/Risk.js"></script>
}
